/exercise2/exercise_2/data/ShapeNetPointClouds/
/exercise2/exercise_2/data/ShapeNetVox32/
/exercise2/exercise_2/data/shapenetcore_partanno_segmentation_benchmark_v0/
/exercise3/exercise_3/data/shapenet_dim32_sdf.zip
/exercise3/exercise_3/data/shapenet_dim32_df.zip
/exercise3/exercise_3/data/shapenet_dim32_df/
/exercise3/exercise_3/data/shapenet_dim32_sdf/
